@media screen and (min-width: 768px) {
.navMargin {
  margin-left: 250px;
}

.positionTop{
  position: absolute;
  top: 38%;
  left: 33%;
 }

 .search-input::placeholder {
  position: relative;
  padding: 28px;
 }
 .freeSize{
   /* margin-left: 30px; */
   margin-right: -190px;
 }
}

/* For small devices */
@media screen and (max-width: 767px) {
  .positionTop{
    position: absolute;
    top: 49%;
    left: 7%;
   }
   
   .search-input::placeholder {
    position: relative;
    padding: 28px;
   }
}

.bgTitle{
  color:#27A365;
}
