

body{
  font-family: " font-family: 'IBM Plex Sans', sans-serif;";
}

@media screen and (min-width: 768px) {
.navMargin {
  margin-left: 250px;
}
.banner-img{
  position: relative;
 }
 .banner-desc{
  position: absolute;
  top: 40%;
  left: 134px;
  font-family: " font-family: 'IBM Plex Sans', sans-serif;";
 }

.positionTop{
  position: absolute;
  top: 38%;
  left: 33%;
 }

 .search-input::placeholder {
  position: relative;
  padding: 28px;
 }
 .freeSize{
   /* margin-left: 30px; */
   margin-right: -170px;
 }
}

/* For small devices */
@media screen and (max-width: 767px) {
  .positionTop{
    position: absolute;
    top: 42%;
    left: 7%;
   }
   
   .search-input::placeholder {
    position: relative;
    padding: 28px;
   }
   .banner-img{
    position: relative;
   }
   .closeBtn{
    width: 0;
    padding:0;
    height: 0;
   }
   .GroupBtn{
    position: absolute;
    top: 10%;
   }
   .banner-desc{
    position: absolute;
    top: 38%;
    left: 20px;
    font-size: 18px;
    font-family: " font-family: 'IBM Plex Sans', sans-serif;";
   }
}

.bgTitle{
  color:#27A365;
}
img {
  filter: blur(px);
}
.postHr{
  border: 2px solid #ddd;
 position: relative;
 width: 87%;
}
.active{
  color: black !important;

}

.activeHr{
 width: 100px;
 border: 2px solid black;
 position: absolute;

}
.textColor {
  color: white !important;
}


.dot .dropdown-toggle::after {
 visibility: hidden;
}

.custom-modal .modal-dialog {
  max-width: 836px;
  position: relative;
}


.Icon{
  color: black;
  position: absolute;
  bottom: 30px;
  right: 0;
 background: white;
 border-radius: 100%;

}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}