

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

@media screen and (min-width: 768px) {
.navMargin {
  margin-left: 250px;
}

.positionTop{
  position: absolute;
  top: 38%;
  left: 33%;
 }

 .search-input::placeholder {
  position: relative;
  padding: 28px;
 }
 .freeSize{
   /* margin-left: 30px; */
   margin-right: -170px;
 }
}

/* For small devices */
@media screen and (max-width: 767px) {
  .positionTop{
    position: absolute;
    top: 49%;
    left: 7%;
   }
   
   .search-input::placeholder {
    position: relative;
    padding: 28px;
   }
}

.bgTitle{
  color:#27A365;
}
img {
  filter: blur(px);
}
.postHr{
  border: 2px solid #ddd;
 position: relative;
 width: 87%;
}
.active{
  color: black !important;

}

.activeHr{
 width: 100px;
 border: 2px solid black;
 position: absolute;

}
.textColor {
  color: white !important;
}


.dot .dropdown-toggle::after {
 visibility: hidden;
}

.custom-modal .modal-dialog {
  max-width: 736px;
  position: relative;
}


.Icon{
  color: black;
  position: absolute;
  bottom: 30px;
  right: 0;
 background: white;
 border-radius: 100%;

}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}